<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Collega html e CSS -->
    <link rel="stylesheet" href="dist/app.css">  
    <!-- Collega html e FONT-AWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <!-- Collega html e GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <!-- Serve ad utilizzare AJAX -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <!-- Collega html e VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- Titolo html -->
    <title>Document</title>
</head>
<body>
    
    <div id="root">

        <!-- INIZIO HEADER -->
        <header>
            
            <div class="container">
                <!-- INIZIO NAV -->
                <nav>

                    <!-- INIZIO LOGO -->
                    <div class="logo">
                        <img src="img/logo.png" alt="logo">
                    </div>
                    <!-- FINE LOGO -->
                    <!-- INIZIO MENU -->
                    <div class="menu">
                        <ul>
                            <li v-for="(link, index) in menuLink">
                                <a :class="{active : index == activeIndex}" href="#">
                                    {{link}}
                                </a>
                            </li>
                            <li>
                                <a href="#" class="search">
                                    <i class="fas fa-search"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- FINE MENU -->

                </nav>
                <!-- FINE NAV -->
            </div>
            
        </header>
        <!-- FINE HEADER -->

        <!-- INIZIO MAIN -->
        <main>

            <!-- INIZIO JUMBOTRON -->
            <section id="jumbotron">
                <div class="jumbotron">
                    <img src="img/slider-1-bg.jpg" alt="">
                    <div class="conference">

                        <div class="motto">
                            <h2>conference on</h2>
                            <h2><span>social networks</span></h2>
                        </div>
                        <div class="giorni-conferenza">
                            23-26 may 2019 <span>/</span> sans francisco <span>/</span> 8 speakers
                        </div>
                        <button class="red-button">
                            register online
                        </button>

                    </div>
                </div>
            </section>
            <!-- FINE JUMBOTRON -->

            <!-- INIZIO DOMANDE FREQUENTI -->
            <section id="domande-frequenti">
                <div class="container">
                    
                    <!-- INIZIO SINGOLA DOMANDA -->
                    <div class="singola-domanda">

                        <div class="icon">
                            <i class="fas fa-trophy"></i>
                        </div>
                        <div class="domanda">
                            <h3>Who we are</h3>
                            <div class="risposta">
                                Donec it elit non mi porta gravida et eget me tus. 
                                Sed posuere consectetur estat lobo rtis. Cum sociis natoque.
                            </div>
                            <div class="learn-more">
                                Learn More
                            </div>
                        </div>

                    </div>
                    <!-- FINE SINGOLA DOMANDA -->

                    <!-- INIZIO SINGOLA DOMANDA -->
                    <div class="singola-domanda">

                        <div class="icon">                          
                            <i class="fas fa-bolt"></i>
                        </div>
                        <div class="domanda">
                            <h3>What we do</h3>
                            <div class="risposta">
                                Donec it elit non mi porta gravida et eget me tus. 
                                Sed posuere consectetur estat lobo rtis. Cum sociis natoque.
                            </div>
                            <div class="learn-more">
                                Learn More
                            </div>
                        </div>

                    </div>
                    <!-- FINE SINGOLA DOMANDA -->

                    <!-- INIZIO SINGOLA DOMANDA -->
                    <div class="singola-domanda">

                        <div class="icon">
                            <i class="fas fa-question"></i>
                        </div>
                        <div class="domanda">
                            <h3>Why us?</h3>
                            <div class="risposta">
                                Donec it elit non mi porta gravida et eget me tus. 
                                Sed posuere consectetur estat lobo rtis. Cum sociis natoque.
                            </div>
                            <div class="learn-more">
                                Learn More
                            </div>
                        </div>

                    </div>
                    <!-- FINE SINGOLA DOMANDA -->

                </div>
            </section>
            <!-- FINE DOMANDE FREQUENTI -->

            <!-- INIZIO COUNTDOWN -->
            <section id="countdown">
                <img src="img/coutdown-bg1.jpg" alt="">
                <div class="centratura">

                    <!-- INIZIO DEI SINGOLI COUNTDOWN -->
                    <div class="countdown">
                        <div class="container-days">
                            <div id="days"></div>
                            days
                        </div>
                        <div class="container-hours">
                            <div id="hours"></div>
                            hours
                        </div>
                        <div class="container-mins">
                            <div id="mins"></div>
                            mins
                        </div>
                        <div class="container-secs">
                            <div id="secs"></div>
                            secs
                        </div>
                    </div>
                    <!-- FINE DEI SINGOLI COUNTDOWN -->

                    <!-- INIZIO SUBSCRIBE -->
                    <div class="subscribe">
                        <h3>Subscribe for updates</h3>
                        <input type="text" placeholder="Please fill your email">
                        <button>subscribe</button>
                    </div>
                    <!-- FINE SUBSCRIBE -->

                </div>
            </section>
            <!-- FINE COUNTDOWN -->

            <!-- INIZIO SPEAKERS -->
            <section id="speakers">
                <div class="container">
                    
                    <!-- INIZIO SPEAKERS-BAR -->
                    <div class="speakers-bar">
                        <h2>SPEAKERS</h2>
                        <div class="arrow-icon">
                            <i class="fas fa-chevron-left"></i>
                            <i class="fas fa-chevron-right"></i>
                        </div>
                        
                    </div>
                    <!-- FINE SPEAKERS-BAR -->

                    <!-- INIZIO SPEAKERS-PEOPLE -->
                    <div class="speakers-people">
                        
                        <!-- INIZIO SINGLE PEOPLE -->
                        <div class="single-people">
                            <div class="single-img">
                                <img src="img/speaker-6.jpg" alt="">
                                <div class="speakers-hover">
                                    <i class="fab fa-twitter"></i>
                                    <i class="fab fa-facebook-f"></i>
                                    <i class="fab fa-linkedin-in"></i>
                                </div>
                            </div>
                            
                            <div class="name">
                                <h4>Patrik spencer</h4>
                                <div class="ruolo">
                                    S&P Analyzer
                                </div>
                            </div>
                        </div>    
                        <!-- FINE SINGLE PEOPLE -->

                        <!-- INIZIO SINGLE PEOPLE -->
                        <div class="single-people">
                            <div class="single-img">
                                <img src="img/speaker-5.jpg" alt="">
                                <div class="speakers-hover">
                                    <i class="fab fa-twitter"></i>
                                    <i class="fab fa-facebook-f"></i>
                                    <i class="fab fa-linkedin-in"></i>
                                </div>
                            </div>
                            
                            <div class="name">
                                <h4>Janet jones</h4>
                                <div class="ruolo">
                                    Newyork Post's GM
                                </div>
                            </div>
                        </div>    
                        <!-- FINE SINGLE PEOPLE -->

                        <!-- INIZIO SINGLE PEOPLE -->
                        <div class="single-people">
                            <div class="single-img">
                                <img src="img/speaker-4.jpg" alt="">
                                <div class="speakers-hover">
                                    <i class="fab fa-twitter"></i>
                                    <i class="fab fa-facebook-f"></i>
                                    <i class="fab fa-linkedin-in"></i>
                                </div>
                            </div>
                            
                            <div class="name">
                                <h4>Michael dover</h4>
                                <div class="ruolo">
                                    Starbuck's CEO
                                </div>
                            </div>
                        </div>    
                        <!-- FINE SINGLE PEOPLE -->

                        <!-- INIZIO SINGLE PEOPLE -->
                        <div class="single-people">
                            <div class="single-img">
                                <img src="img/speaker-3.jpg" alt="">
                                <div class="speakers-hover">
                                    <i class="fab fa-twitter"></i>
                                    <i class="fab fa-facebook-f"></i>
                                    <i class="fab fa-linkedin-in"></i>
                                </div>
                            </div>
                            
                            <div class="name">
                                <h4>Angelina Holy</h4>
                                <div class="ruolo">
                                    Maxii's Manager
                                </div>
                            </div>
                        </div>    
                        <!-- FINE SINGLE PEOPLE -->

                    </div>
                    <!-- FINE SPEAKERS-PEOPLE -->

                </div>
            </section>
            <!-- FINE SPEAKERS -->

            <!-- INIZIO PROGRAM -->
            <section id="program">
                <div class="container">

                    <!-- INIZIO TITOLO -->
                    <div class="titolo">
                        <h2>PROGRAM</h2>
                        <div class="programma">
                            This conference run throught all 4 days from 23-26 May 2016.
                            <br>
                            We also provide free lunch and coffee break in each day.
                        </div>
                        <div class="learn-more">
                            View Full Program
                        </div>
                    </div>
                    <!-- FINE TITOLO -->

                    <!-- INIZIO RIGA GIORNI -->
                    <div class="riga-giorni">

                        <!-- INIZIO SINGOLA COLONNA -->
                        <div class="colonna">
                            <h3>DAY1</h3>
                            <div>23 May 2016</div>
                        </div>
                        <!-- FINE SINGOLA COLONNA -->

                        <!-- INIZIO SINGOLA COLONNA -->
                        <div class="colonna">
                            <h3>DAY2</h3>
                            <div>23 May 2030</div>
                        </div>
                        <!-- FINE SINGOLA COLONNA -->

                        <!-- INIZIO SINGOLA COLONNA -->
                        <div class="colonna">
                            <h3>DAY3</h3>
                            <div>24 May 2030</div>
                        </div>
                        <!-- FINE SINGOLA COLONNA -->

                        <!-- INIZIO SINGOLA COLONNA -->
                        <div class="colonna">
                            <h3>DAY4</h3>
                            <div>24 May 2030</div>
                        </div>
                        <!-- FINE SINGOLA COLONNA -->

                        <!-- INIZIO SINGOLA COLONNA -->
                        <div class="colonna">
                            <h3>DAY5</h3>
                            <div>25 May 2030</div>
                        </div>
                        <!-- FINE SINGOLA COLONNA -->

                        <!-- INIZIO SINGOLA COLONNA -->
                        <div class="colonna">
                            <h3></h3>
                            <div></div>
                        </div>
                        <!-- FINE SINGOLA COLONNA -->

                    </div>
                    <!-- FINE RIGA GIORNI -->

                    <!-- INIZIO INTRODUZIONE -->
                    <div class="introduzione">
                        <div class="left">

                            <!-- INIZIO RIGA -->
                            <div class="riga">
                                <div class="icon">
                                    <i class="far fa-clock"></i>
                                </div>
                                <div class="text-icon">
                                    09:00 - 10:30
                                </div>
                            </div>
                            <!-- FINE RIGA -->

                            <!-- INIZIO RIGA -->
                            <div class="riga">
                                <div class="icon">
                                    <i class="fas fa-location-arrow"></i>
                                </div>
                                <div class="text-icon">
                                    ROOM A
                                </div>
                            </div>
                            <!-- FINE RIGA -->

                            <!-- INIZIO RIGA -->
                            <div class="riga">
                                <div class="icon">
                                    <i class="fas fa-user"></i>
                                </div>
                                <div class="text-icon">
                                    Laurence Francis
                                </div>
                            </div>
                            <!-- FINE RIGA -->

                        </div>
                        <div class="right">
                            <h3>Welcoming and introduction</h3>
                            <div>
                                Vestibulum id ligula porta felis eusimod sempre.
                                Nullam quis risus eget urna mollis ornare vel eu leo. 
                                Donec ullamcorper nulla non metus auctor fringilla. 
                                Aenean lacinia bibendum nulla sed consectetur.....
                            </div>
                            <img src="img/speaker-8.jpg" alt="">
                        </div>
                    </div>
                    <!-- FINE INTRODUZIONE -->
                </div>
            </section>
            <!-- FINE PROGRAM -->

            <!-- INIZIO MAPPA -->
            <section id="mappa">
                
                <div class="scorrimento-mappa">
                    
                    <img 
                        v-for='(imgMap, index) in imgMaps' 
                        :class="{active : index == activeIndex}"
                        :src="imgMap" alt=""
                    >
                    <!-- INIZIO PRIMA RIGA -->
                    <!-- <img src="img/vt (23).png" alt="">
                    <img src="img/vt (17).png" alt="">
                    <img src="img/vt (11).png" alt="">
                    <img src="img/vt (1).png" alt="">
                    <img src="img/vt (5).png" alt="">
                    <img src="img/vt (4).png" alt="">
                    <img src="img/vt (9).png" alt="">
                    <img src="img/vt (20).png" alt=""> -->
                    <!-- FINE PRIMA RIGA -->


                    <!-- INIZIO SECONDA RIGA -->
                    <!-- <img src="img/vt (19).png" alt="">
                    <img src="img/vt (13).png" alt="">
                    <img src="img/vt (12).png" alt="">
                    <img src="img/vt (2).png" alt="">
                    <img src="img/vt.png" alt="">
                    <img src="img/vt (3).png" alt="">
                    <img src="img/vt (15).png" alt="">
                    <img src="img/vt (18).png" alt=""> -->
                    <!-- FINE SECONDA RIGA -->


                    <!-- INIZIO TERZA RIGA -->
                    <!-- <img src="img/vt (22).png" alt="">
                    <img src="img/vt (16).png" alt="">
                    <img src="img/vt (8).png" alt="">
                    <img src="img/vt (10).png" alt="">
                    <img src="img/vt (6).png" alt="">
                    <img src="img/vt (7).png" alt="">
                    <img src="img/vt (14).png" alt="">
                    <img src="img/vt (21).png" alt=""> -->
                    <!-- FINE TERZA RIGA -->
                
                </div>

                <div class="icone">

                    <div class="utente">
                        <img src="img/image (4).svg" alt="">
                    </div>
                    <div class="piu">
                        <img src="img/image (7).svg" alt="">
                    </div>
                    <div class="meno">
                        <img src="img/image (8).svg" alt="">
                    </div>
                    <div class="google">
                        <img src="img/google4.png" alt="">
                    </div>

                    <div class="map">Map</div>
                    <div class="satellite">Satellite</div>
                
                </div>


            </section>
            <!-- FINE MAPPA -->

            <!-- INIZIO LOCATION -->
            <section id="location">
                <img src="img/location-bg.jpg" alt="">
                <div class="location">
                    <h2>LOCATION</h2>
                    <h3>Gd building, grand conference room</h3>
                                    
                    <div class="posizione">
                        <i class="fas fa-location-arrow"></i>
                        11 GD Building, River Mail, New York, USA8879
                    </div>
                    <div class="red-text">Check For Accomodations Here</div>
                    <div class="phone">
                        <i class="fas fa-phone-alt"></i>
                        +1-112-222-3344
                        <i class="fas fa-envelope"></i>
                        Contact@TheKeynoteTherme.com
                    </div>
                </div>
            </section>
            <!-- FINE LOCATION -->

            <!-- INIZIO RECENT-NEWS -->
            <section id="recent-news">
                <div class="container">

                    <div class="recent-news-title">
                        <h2>Recent news</h2>
                        <div class="learn-more">Read All News</div>
                    </div>
                    <div class="articoli">

                        <!-- INIZIO SINGOLO ARTICOLO -->
                        <div class="articolo">
                            <div class="img-articolo">
                                <img src="img/photodune-7770665-two-white-coffee-mug-with-diy-decoration-o.jpg" alt="">
                                <div class="post">
                                    <i class="fas fa-bullhorn"></i>
                                    Sticky post
                                </div>
                            </div>
                            <div class="data-articolo">
                                03 Dec 2013 <span>/</span> 0 Comments
                            </div>
                            <h4 class="titolo-articolo">
                                Sedial eiusmo tempor
                            </h4>
                            <div class="testo-articolo">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Voluptate laboriosam odio ipsum similique doloremque, 
                                eaque quasi provident incidunt amet dolore eveniet consequatur 
                                quaerat excepturi debitis dolorem, ut suscipit unde repudiandae.
                            </div>
                            <div class="learn-more">
                                Read More
                            </div>
                        </div>
                        <!-- FINE SINGOLO ARTICOLO -->

                        <!-- INIZIO SINGOLO ARTICOLO -->
                        <div class="articolo">
                            <div class="img-articolo">
                                <img src="img/photodune-8797753-multiethnic-people-with-startup-business-t.jpg" alt="">
                                <div class="post">
                                    <i class="fas fa-bullhorn"></i>
                                    Sticky post
                                </div>
                            </div>
                            <div class="data-articolo">
                                03 Dec 2013 <span>/</span> 2 Comments
                            </div>
                            <h4 class="titolo-articolo">
                                Donec luctus imperdiet
                            </h4>
                            <div class="testo-articolo">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Voluptate laboriosam odio ipsum similique doloremque, 
                                eaque quasi provident incidunt amet dolore eveniet consequatur 
                                quaerat excepturi debitis dolorem, ut suscipit unde repudiandae.
                            </div>
                            <div class="learn-more">
                                Read More
                            </div>
                        </div>
                        <!-- FINE SINGOLO ARTICOLO -->

                        <!-- INIZIO SINGOLO ARTICOLO -->
                        <div class="articolo">
                            <div class="img-articolo">
                                <img src="img/photodune-8522811-speaker-at-business-conference-and-present.jpg" alt="">
                                <div class="post">
                                    <i class="fas fa-bullhorn"></i>
                                    Sticky post
                                </div>
                            </div>
                            <div class="data-articolo">
                                03 Dec 2013 <span>/</span> 2 Comments
                            </div>
                            <h4 class="titolo-articolo">
                                Magna pars dtudiorum
                            </h4>
                            <div class="testo-articolo">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Voluptate laboriosam odio ipsum similique doloremque, 
                                eaque quasi provident incidunt amet dolore eveniet consequatur 
                                quaerat excepturi debitis dolorem, ut suscipit unde repudiandae.
                            </div>
                            <div class="learn-more">
                                Read More
                            </div>
                        </div>
                        <!-- FINE SINGOLO ARTICOLO -->

                    </div>

                </div>
            </section>
            <!-- FINE RECENT-NEWS -->

            <!-- INIZIO TICKETS -->
            <section id="tickets">
                <img src="img/ticket-bg.jpg" alt="">
                <div class="container">
                    
                    <h2>Tickets</h2>
                    <div class="promozioni">

                        <!-- INIZIO SINGOLA PROMOZIONE -->
                        <div class="promozione">
                            <div class="nome-promozione">
                                <h3>One day pass</h3>
                                <div class="prezzo-promozione">
                                    free
                                </div>
                            </div>
                            <div class="offerte-promozione">
                                <ul>
                                    <li>One Day Access</li>
                                    <li>Coffee Break</li>
                                    <li>Lunch(Internationale Buffet)</li>
                                    <li>Document Sheets</li>
                                    <li>50USD Voucher For Next Event</li>
                                </ul>
                            </div>
                            <div class="bottone-promozione">
                                Book now
                            </div>
                        </div>
                        <!-- FINE SINGOLA PROMOZIONE -->

                        <!-- INIZIO SINGOLA PROMOZIONE -->
                        <div class="promozione">
                            <div class="nome-promozione">
                                <h3>Four day pass</h3>
                                <div class="prezzo-promozione">
                                    750.000 usd
                                </div>
                                <div class="featured">
                                        Featured!
                                </div>
                            </div>
                            <div class="offerte-promozione">
                                <ul>
                                    <li>Four Day Access</li>
                                    <li>Coffee Break</li>
                                    <li>Lunch(Internationale Buffet)</li>
                                    <li>Document Sheets</li>
                                    <li>100USD Voucher For Next Event</li>
                                </ul>
                            </div>
                            <div class="bottone-promozione">
                                Book now
                            </div>
                        </div>
                        <!-- FINE SINGOLA PROMOZIONE -->

                        <!-- INIZIO SINGOLA PROMOZIONE -->
                        <div class="promozione">
                            <div class="nome-promozione">
                                <h3>Two day pass</h3>
                                <div class="prezzo-promozione">
                                    580.00 usd
                                </div>
                            </div>
                            <div class="offerte-promozione">
                                <ul>
                                    <li>Two Day Access</li>
                                    <li>Coffee Break</li>
                                    <li>Lunch(Internationale Buffet)</li>
                                    <li>Document Sheets</li>
                                    <li>70USD Voucher For Next Event</li>
                                </ul>
                            </div>
                            <div class="bottone-promozione">
                                Book now
                            </div>
                        </div>
                        <!-- FINE SINGOLA PROMOZIONE -->

                    </div>
                </div>
            </section>
            <!-- FINE TICKETS -->

            <!-- INIZIO PRESENTATION TWITTER -->
            <section class="presentation-twitter">
                <div class="container">
                    
                    <!-- INIZIO PRESENTATION -->
                    <div class="presentation">
                        <h3>presentation</h3>
                        <div class="video">
                            <div class="img-presentation">
                                <img src="img/461365506.jpeg" alt="">
                            </div>
                            <div class="barra">
                                <i class="fas fa-play"></i>
                                <div class="barra-tempo"></div>
                                <i class="fas fa-signal"></i>
                                <i class="fas fa-cog"></i>
                                <i class="fab fa-vimeo"></i>
                                <div class="minuti">1:01:26</div>
                            </div>
                        </div>
                    </div>
                    <!-- FINE PRESENTATION -->

                    <!-- INIZIO TWITTER FEED -->
                    <div class="twitter-feed">
                        <h3>twitter feed</h3>
                        
                        <!-- INIZIO SINGOLO TWEET -->
                        <div class="singolo-tweet">
                            <div class="icon-twitter">
                                <i class="fab fa-twitter"></i>
                            </div>
                            <div class="tweet">
                                <p>Stand out and be vibrant with some of the best bright
                                    and bold templates on <a href="#">@Envato</a> Elements.
                                    And add a splash of c... <a href="#">https://t.co/jFrsnzEJK7</a>
                                </p>
                                <p class="day">3 days ago</p>
                            </div>
                        </div>
                        <!-- FINE SINGOLO TWEET -->

                        <!-- INIZIO SINGOLO TWEET -->
                        <div class="singolo-tweet">
                            <div class="icon-twitter">
                                <i class="fab fa-twitter"></i>
                            </div>
                            <div class="tweet">
                                <p>Stand out and be vibrant with some of the best bright
                                    and bold templates on <a href="#">@Envato</a> Elements.
                                    And add a splash of c... <a href="#">https://t.co/jFrsnzEJK7</a>
                                </p>
                                <p class="day">3 days ago</p>
                            </div>
                        </div>
                        <!-- FINE SINGOLO TWEET -->

                        <!-- INIZIO SINGOLO TWEET -->
                        <div class="singolo-tweet">
                            <div class="icon-twitter">
                                <i class="fab fa-twitter"></i>
                            </div>
                            <div class="tweet">
                                <p>Stand out and be vibrant with some of the best bright
                                    and bold templates on <a href="#">@Envato</a> Elements.
                                    And add a splash of c... <a href="#">https://t.co/jFrsnzEJK7</a>
                                </p>
                                <p class="day">3 days ago</p>
                            </div>
                        </div>
                        <!-- FINE SINGOLO TWEET -->

                    </div>
                    <!-- FINE TWITTER FEED -->

                </div>
            </section>
            <!-- FINE PRESENTATION TWITTER -->

            <!-- INIZIO SPONSORS -->
            <section id="sponsors">

                <div class="container">
                    <h2>Sponsors</h2>
                    <p>
                        Maecenas faucibus mollis interdum.
                        Nullam id dolor id nibh ultricies
                        vehicula ut id elit.
                    </p>
                    <div class="sponsor">
                        <img 
                        v-for='(imgSponsor, index) in imgSponsors' 
                        :class="{active : index == activeIndex}"
                        :src="'img/banner-' + imgSponsor + '.jpg'" alt=""
                        >
                    </div>
                </div>

            </section>
            <!-- FINE SPONSORS -->

        </main>
        <!-- FINE MAIN -->

        <!-- INIZIO FOOTER -->
        <footer>
            <div class="footer-top">
                <div class="container">

                    <!-- INIZIO SINGOLA COLONNA-1 -->
                    <div class="colonna-1">
                        <h3> about us</h3>
                        <p>
                            Cum sociis natoque penatibus et 
                            magnis dis parturient montes,
                            nascetur ridiculus mus. 
                        </p>
                        <!-- <div class="icon">
                            <a href="#">
                                <i class="fab fa-facebook-square"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-twitter-square"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-google-plus-square"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-pinterest-square"></i>
                            </a>
                            <a href="#">
                                <i class="fas fa-comment-dots"></i>
                            </a>
                        </div> -->
                        <div 
                        class="icon">
                        
                            <ul>
                                <li
                                v-for='(icon, index) in footerIcon'
                                :class="{active : index == activeIndex}"
                                >
                                    <a href=""><i :class="icon"></i></a>
                                </li>
                            </ul>
                            
                        </div>
                    </div>
                    <!-- FINE SINGOLA COLONNA-1 -->

                    <!-- INIZIO SINGOLA COLONNA-2 -->
                    <div class="colonna-2">
                        <h3>recent news</h3>
                        <ul>
                            <li v-for="(news, index) in recentNews">
                                <a :class="{active : index == activeIndex}" href="#">
                                    <i class="fas fa-chevron-right"></i>
                                    {{news}}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- FINE SINGOLA COLONNA-2 -->

                    <!-- INIZIO SINGOLA COLONNA-3 -->
                    <div class="colonna-3">
                        <h3>get your seat</h3>
                        <p>
                            Book for your seat before it's too rate.
                            <br>
                            We provide variety of ticket options.
                        </p>
                        <button>check out tickets!</button>
                    </div>
                    <!-- FINE SINGOLA COLONNA-3 -->

                    <!-- INIZIO SINGOLA COLONNA-4 -->
                    <div class="colonna-4">
                        <h3>gallery from last year</h3>
                        <div class="container-img">
                            
                            <img 
                            v-for='(image, index) in footerImage' 
                            :class="{active : index == activeIndex}"
                            :src="image" alt=""
                            >

                            <!-- <img src="img/photodune-7770665-two-white-coffee-mug-with-diy-decoration-o.jpg" alt="">
                            <img src="img/photodune-8523683-speaker-at-business-convention-and-present (1).jpg" alt="">
                            <img src="img/photodune-6745579-modern-creative-man-relaxing-on-workspace- (1).jpg" alt="">
                            <img src="img/2-item-1.jpg" alt="">
                            
                            <img src="img/photodune-8797753-multiethnic-people-with-startup-business-t.jpg" alt="">
                            <img src="img/card04-150x150.jpg" alt="">
                            <img src="img/photodune-6745606-man-wristwatch-calendar-key-and-glasses-on.jpg" alt="">
                            <img src="img/photodune-6745585-modern-creative-workspace-m.jpg" alt="">

                            <img src="img/6426608875_186070f8ca_o-150x150.jpg" alt="">
                            <img src="img/card01-150x150.jpg" alt="">
                            <img src="img/13349065283_64d09b067c_o-150x150.jpg" alt="">
                            <img src="img/photodune-8795110-overhead-of-essentials-denim-clothes-m-150.jpg" alt=""> -->

                        </div>
                    </div>
                    <!-- FINE SINGOLA COLONNA-4 -->

                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="copyright">
                        <i class="far fa-copyright"></i>
                        Copyright GoodLayers, All Right Reserved
                    </div>
                    <div class="informazioni">
                        <ul>
                            <li v-for="(informazioni, index) in supportoInformazioni">
                                <a :class="{active : index == activeIndex}" href="#">
                                    {{ informazioni }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </footer>
        <!-- FINE FOOTER -->

    </div>


    <script>
        // Set the date we're counting down to
        var countDownDate = new Date("Feb 5, 2022 11:55:25").getTime();
        
        // Update the count down every 1 second
        var x = setInterval(function() {
        
          // Get today's date and time
          var now = new Date().getTime();
            
          // Find the distance between now and the count down date
          var distance = countDownDate - now;
            
          // Time calculations for days, hours, minutes and seconds
          var days = Math.floor(distance / (1000 * 60 * 60 * 24));
          var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
          var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
          var seconds = Math.floor((distance % (1000 * 60)) / 1000);
            
          // Output the result in an element with id="demo"
          // document.getElementById("demo").innerHTML = days + "d " + hours + "h "
          // + minutes + "m " + seconds + "s ";

          document.getElementById("days").innerHTML = days;
          document.getElementById("hours").innerHTML = hours;
          document.getElementById("mins").innerHTML = minutes;
          document.getElementById("secs").innerHTML = seconds;
            
          // If the count down is over, write some text 
          if (distance < 0) {
            clearInterval(x);
            document.getElementById("demo").innerHTML = "EXPIRED";
          }
        }, 1000);
    </script>


    <!-- Collega html a day.js per mettere le DATE -->
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <!-- Collega html a JAVASCRIPT -->
    <script type="text/javascript" src="dist/app.js"></script>

</body>
</html>