*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.container{
    width: $size-container-principal;
    margin: auto;
}

img{
    width: 100%;
}

.learn-more{
    @include my-scritta-corsivo
}

/* HEADER */
/* HEADER */

/* MAIN */
/* MAIN */

/* FOOTER */
/* FOOTER */
