*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.container{
    width: 900px;
    margin: auto;
}

img{
    width: 100%;
}

/* HEADER */
/* HEADER */

/* MAIN */
/* MAIN */

/* FOOTER */
/* FOOTER */
