footer{
    .footer-top{
        padding: 50px 0;
        background-color: #212121;
        width: 100%;

        .container{
        color: lightgray;
        @include my-display-flex;
        justify-content: space-between;
        padding: 50px 0;
        font-size: 13px;
            h3{
                letter-spacing: 1px;
                text-transform: uppercase;
                font-size: 12px;
                padding-bottom: 20px;
            }
            p{
                line-height: 20px;
                padding-bottom: 20px;
                font-size: 11px;
            }
            .colonna-1{
                width: calc(( 100% / 4 ) - 30px );
                .icon{
                    ul{
                        @include my-display-flex;
                        justify-content: space-around;
                        font-size: 25px;
                        li{
                            list-style-type: none;
                            a{
                                color: white;
                            }     
                        }     
                    }
                }
            }
            .colonna-2{
                width: calc(( 100% / 4 ) - 30px );
               li{
                    list-style-type: none;
                    a{
                        color: $color-menu-nav;
                        text-transform: uppercase;
                        text-decoration: none;
                        font-size: 10px;
                        line-height: 35px;
                        i{
                            font-size: 7px;
                            padding-right: 7px;
                        }
                    }
                } 
            }
            .colonna-3{
                width: calc(( 100% / 4 ) - 30px );
                button{
                    background-color: $color-hover-link-button;
                    color: white;
                    padding: 15px 25px;
                    text-transform: uppercase;
                    border: 1px solid $color-hover-link-button;
                }
            }
            .colonna-4{
                width: calc(( 100% / 4 ) - 30px );
                .container-img{
                    width: 100%;
                    @include my-display-flex;
                    align-items: center;
                    flex-wrap: wrap;
                    overflow: hidden;
                    justify-content: space-between;

                    img{
                        width: calc(( 100% / 4 ) - 7px );
                        height: 41.75px;
                        overflow: hidden;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
    .footer-bottom{
        padding: 20px 0;
        background-color: black;
        .container{
            @include my-display-flex;
            color: $color-menu-nav;
            justify-content: space-between;
            font-size: 13px;
            .informazioni{
                ul{
                    @include my-display-flex;
                    li{
                        border-right: 1px solid $color-menu-nav;
                        padding: 0 8px;
                        list-style-type: none;
                        a{
                            text-decoration: none;
                            color: $color-menu-nav;
                        }
                    }
                }
            }
        }
    }
}
