  
@mixin my-display-flex {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin my-red-button{
    color: white;
    background-color: $color-hover-link-button;
    padding: 12px 20px;
    border-color: $color-hover-link-button;
    text-transform: uppercase;
}

@mixin my-centratura-orizzontale-verticale{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin my-setup-base-countdown{
    padding: 15px 35px;
    text-align: center;
    border-radius: 3px;
}

@mixin my-font-number{
    font-size: 55px;
    font-weight: 700;
}

@mixin my-title-h2{
    letter-spacing: 2px;
    font-size: 25px;
}

@mixin my-scritta-corsivo{
    color: $color-hover-link-button;
    font-style: oblique;
}