  
@mixin my-display-flex {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin my-red-button{
    color: white;
    background-color: $color-hover-link-button;
    padding: 12px 20px;
    border-color: $color-hover-link-button;
    text-transform: uppercase;
}

@mixin my-centratura-orizzontale-verticale{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}